@tailwind base;
@tailwind components;
@tailwind utilities;


.spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


html{
  scroll-behavior: smooth;
}
@layer base {
  body {
    @apply font-sans;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-head;
  }

  .section {
    @apply px-6 py-4 md:py-6 md:px-16 lg:px-28 xl:px-32;
  }

  p {
    @apply text-neutral-800 text-sm;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}